<header id="site-header" class="minimal-header clr" data-height="74" itemscope="itemscope" itemtype="http://schema.org/WPHeader">
    <div id="site-header-inner" class="clr container">
        <div id="site-logo" class="clr" itemscope="" itemtype="http://schema.org/Brand">
            <div id="site-logo-inner" class="clr">
                <a href="http://getrealtec.com/" class="custom-logo-link" rel="home" itemprop="url"><img width="78" height="50" src="http://getrealtec.com/wp-content/uploads/2019/05/GRT-logo-small-black.png" class="custom-logo" alt="logo" itemprop="logo" srcset="http://getrealtec.com/wp-content/uploads/2019/05/GRT-logo-small-black.png 1x, http://getrealtec.com/wp-content/uploads/2019/05/GRT-logo-big-black.png 2x"></a>
            </div><!-- #site-logo-inner -->
        </div><!-- #site-logo -->

        <div id="site-navigation-wrap" class="clr">
            <nav id="site-navigation" class="navigation main-navigation clr" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                <ul id="menu-main-menu" class="main-menu dropdown-menu sf-menu sf-js-enabled" style="touch-action: pan-y;"><li id="menu-item-357" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-357"><a href="http://getrealtec.com/services/" class="menu-link"><span class="text-wrap">Services</span></a></li><li id="menu-item-358" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-358"><a href="http://getrealtec.com/our-projects/" class="menu-link"><span class="text-wrap">Our Work</span></a></li><li id="menu-item-360" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-360"><a href="http://getrealtec.com/blog-2/" class="menu-link"><span class="text-wrap">Blog</span></a></li><li id="menu-item-359" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-359"><a href="http://getrealtec.com/about-us/" class="menu-link"><span class="text-wrap">About Us</span></a></li><li id="menu-item-361" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-361"><a href="http://getrealtec.com/contact/" class="menu-link"><span class="text-wrap">Contact</span></a></li><li id="menu-item-language-en" class="menu-item menu-item-type-custom menu-item-object-custom active-language menu-item-has-children dropdown menu-item-language-en"><a href="#" class="menu-link sf-with-ul"><span class="text-wrap"><span>EN</span> <span class="nav-arrow fa fa-angle-down"></span></span></a>
                        <ul class="sub-menu" style="display: none;">
                            <li id="menu-item-language-fr" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-language-fr"><a href="http://getrealtec.com/fr/" class="menu-link"><span class="text-wrap"><span>FR</span></span></a></li></ul>
                    </li><li class="search-toggle-li"><a href="#" class="site-search-toggle search-dropdown-toggle"><span class="icon-magnifier"></span></a></li></ul>
                <div id="searchform-dropdown" class="header-searchform-wrap clr">

                    <form method="get" class="searchform" id="searchform" action="http://getrealtec.com/">
                        <input type="text" class="field" name="s" id="s" placeholder="Search">
                    </form></div><!-- #searchform-dropdown -->
            </nav><!-- #site-navigation -->
        </div><!-- #site-navigation-wrap -->

        <div class="oceanwp-mobile-menu-icon clr mobile-right">
            <a href="#" class="mobile-menu">
                <i class="fa fa-bars"></i>
                <span class="oceanwp-text">Menu</span>
            </a>
        </div><!-- #oceanwp-mobile-menu-navbar -->
    </div><!-- #site-header-inner -->
</header>